#c1 { width:250px; float:left; padding:0px 0px 0px 0px;text-align:left; }
#c2 { width:250px; float:left; padding:0px; margin:0px; overflow:hidden; }
#c3 { width:800px; fixed:left; padding:0px; margin:0px; overflow:hidden; }
#c4 { width:1000px; fixed:left; padding:0px; margin:0px; overflow:hidden; 

#xmlformat 